  header {
color: white;
}

body {
  background-color:red;
  }
  
  header {
color: white;
}
  h1, h2, h3, h4, h5, h6 {
color:white;
text-decoration: underline overline;
text-transform: uppercase;
}
footer {
color: white;
}